.login {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
}
.loginLogoo {
  font-size: 25px;
  font-weight: 800;
  color: #3086f5;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

/* .loginDesc {
  font-size: 24px;
} */

.loginBoxx{
    height: 400px;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInputt{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    margin: 7px 15px;
    padding-left: 20px;
}

.loginInput:focus{
    outline: none;
}

.loginButtonn{
    height: 40px;
    margin: 15px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
}
.loginButtonn:hover{
  background-color: #0954b6;
}
.loginForgot{
    text-align: center;
    color: #1775ee;
}

.loginRegisterButtonn{
  width: 100%;
  align-self: center;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: #42b72a;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}